# Ignore everything except the files you want.
*
!README.md
!.gitignore
!waybar/
!waybar/**
!hypr/
!hypr/**
!wlogout/
!wlogout/**

# --- Global security ---
*.key
*.pem
*.secret
.env
.password*

# --- Cache ---
.cache/