/* ~/.config/waybar/style.css */
@import "css/slider.css";

/* START Global */
* {
  border: none;
  border-radius: 0;
  font-family: "Roboto", "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

window#waybar > box {
  background-color: @theme_bg_color;
  color: @theme_text_color;
  border-radius: 8px;
  padding: 8px;
}

label {
  padding: 0 8px;
  border-radius: 4px;
  background-color: @button_normal_color;
}

.modules-left label {
  margin-right: 8px;
}

.modules-right label {
  margin-left: 8px;
}

/* Icon Center hack */
#custom-power,
label#custom-toolbox {
  padding-right: 11px;
}
/* END Global */

/* START Modules Left */
#workspaces box {
  background-color: transparent;
}
#workspaces label {
  background-color: transparent;
}

#workspaces button {
  border-bottom: 2px solid @button_normal_color;
  border-left: 2px solid @button_normal_color;
  padding: 0;
  border-radius: 4px 8px 4px 4px;
  margin-right: 8px;
}

#workspaces button:hover {
  background-color: @theme_selected_bg_color;
  border-color: @theme_selected_bg_color;
}

#workspaces button.active {
  border-bottom: 2px solid @theme_selected_bg_color;
  border-left: 2px solid @theme_selected_bg_color;
  border-radius: 4px 8px 4px 4px;
}

#mpris {
  margin-left: 24px;
}
/* END Modules Left */

/* START Modules Center */
#group-toolbox {
  margin-right: 16px;
}
#group-toolbox label {
  margin-left: 8px;
}

#clock {
  font-size: 18px;
}

#custom-notification {
  margin-left: 16px;
  color: @color2;
}

#custom-notification.none {
  color: @theme_text_color;
}

#custom-notification.new-notification {
  animation: blink 1s 3;
}

@keyframes blink {
  0% {
    color: @color2;
  }
  50% {
    color: @theme_text_color;
  }
  100% {
    color: @color2;
  }
}
/* END Modules Center */

/* START Modules Right */

/* END Modules Right */
