#pulseaudio-slider {
  margin: 4px 5px;
  padding: 0 2px;
  background-color: transparent;
  border-radius: 20px;
}

#pulseaudio-slider slider {
  min-height: 14px;
  min-width: 14px;
  margin: -2px 0;
  border-radius: 100%;
  background-color: @theme_selected_fg_color;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 10px;
  background-color: @theme_selected_bg_color;
}

#pulseaudio-slider highlight {
  min-height: 10px;
  border-radius: 10px;
  background-color: @theme_selected_fg_color;
}
